<!-- <ngx-spinner type="ball-scale-multiple">
  <p>Loading</p>
 </ngx-spinner>
 <app-child [employeeList]="users"></app-child> -->
 <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <form #userForm="ngForm" (ngSubmit)="getFormData(userForm.value)">
        <div class="row">
          <div class="col-md-3">
            <label for="" class="form-label">First Name</label>
            <input required #fname="ngModel" pattern="[a-zA-Z ]*" type="text" ngModel name="fname" id="" placeholder="enter first name" class="form-control">
            <span *ngIf="fname.invalid && fname.touched" class="error text-danger"> First Name Not Valid</span>
          </div>
          <div class="col-md-3">
            <label for="" class="form-label">Last Name</label>
            <input required #lname="ngModel" pattern="[a-zA-Z ]*" type="text" ngModel name="lname" placeholder="enter last name" class="form-control">
            <span *ngIf="lname.invalid && lname.touched" class="error"> Last Name Not Valid</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="" class="form-label">MobileNo</label>
            <input type="text" ngModel name="mobileno" id="" placeholder="enter mobile no" class="form-control" required>
          </div>
          <div class="col-md-3">
            <label for="" class="form-label">Email</label>
            <input required #email="ngModel" type="email" email ngModel name="email" id="" placeholder="enter email" class="form-control">
            <span *ngIf="email.invalid && email.touched" class="error">Email is not Valid</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="" class="form-label">City</label>
            <input required #city="ngModel" type="text" pattern="[a-zA-Z ]*" ngModel name="city" id="" placeholder="enter city" class="form-control">
            <span *ngIf="city.invalid && city.touched" class="error">City in Not Valid</span>
          </div>
        </div>
        
        
        
        
        
        <button [disabled]="userForm.invalid" class="btn btn-success mt-3 mb-3">New user</button>
      </form>
    </div>
    <div class="col-md-5">
      <app-dashboard
       [userCount]="userCount"
       (getUser)="getAllUsers($event)">
      </app-dashboard>
    </div>
  </div>
</div>
 


      <!-- <h2>Create User</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" placeholder="First Name">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name">

            <label class="form-label">Email</label>
            <input type="text" class="form-control"  placeholder="Email">
        <button type="submit" class="btn btn-danger">Create</button>
      </form>
    <> -->
    
  
<div class="mrgnbtm">
  <app-child *ngIf="users.length !== 0" [users]="users"></app-child>
</div>